.BackGround {
    height: 100%;
    background-color: #ffffff;
}

.Sections {
    flex: 1;
    
}

.Header {
    height: 8%;
    background-color: #efefef;
}

.Body {
    flex: 1;
}

.Categories {
    height: 10%;
    background-color: #ffffff;
    border-top-width: 6px;
    border-top-color: #cccccc;
}